.about {
  height: 100vh;
  // @extend .section-pad-xl;
  animation : opacity-page 1s linear;
  position : relative
}

.portrait {
  text-align: center ;
  background-color: #232323;
  width: 300px;
  height: 300px;
  border-radius : 50%;
  margin: 40px auto;

  .img-holder{
    border-radius : 50%;
    width: 300px;
    height: 300px;
    // background-image: url('https://d2jv9003bew7ag.cloudfront.net/uploads/Gustave-Courbet-Le-Desperere-1845-detail-865x577.jpg');
    background-image: url('https://raw.githubusercontent.com/codeandrew/assets/master/images/me-black-and-white.jpg');
    background-position: center center;
    background-size : cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      -webkit-background-clip: initial;
      @extend .shadow;
    }
  }

}
.text-clip {
font-size: 14px;
 line-height: 10px;
 letter-spacing: -1px;
 display: block;
 width: 350px;
 height: 350px;
 overflow: hidden;
 text-align: justify;
}
.about-me {
  margin: 0 auto;
  width :100%;
  padding : 0 15px;

  @media screen and (min-width: $break-mobile-large ){
    width :450px;
    padding: 0;
  }

  p {
    text-align: justify;
  }
}
