
.experience-page {
  height: 100vh;
  animation : opacity-page 1s linear;
  position: relative;

  .content {
    max-width: 780px;
    margin: 20px auto;
    text-align: justify;
  }
}

.experience-block { 
  ul {
    list-style: none;
    text-align: left;
  }
}