* {
  transition: .7s;
  margin : 0;
  padding : 0;
}

#app {
 text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
//raleway
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//Roboto
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
//Open Sans
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
//Ubuntu

html, body {
  height : 100vh;
  width : 100vw;
  background-color: #fff;
  font: {
    family : 'Raleway' !important;
    weight: 300 !important;
  }
}

.app {
  text-align: center;
  height: 100vh;
	display : flex;
	justify-content:center;
	align-items: center;
  z-index: 0;

  .container {
    top : 25vh;
    position: absolute;
  }
}

#output {
  color : #333;
  margin-top : 20px;
}

.blink {
  animation : blinking .7s infinite linear;
}

@keyframes blinking {
  0% { opacity : 0; }
  100% { opacity : 1 ;}
}
a{
    font-weight: 300 !important;
    text-decoration: none !important;
    color: #000 !important;
    transition: color 0.3s ease;
}
