* {
  transition: .7s;
  margin : 0;
  padding : 0;
}

#app {
 text-align: center;
 height: 100%;
}

// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
// //raleway
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// //Roboto
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// //Open Sans
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
// //Ubuntu
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
// Lato

html, body {
  height : 100%;
  width : 100%;
  background-color: $secondary-color !important;
  // color: rgba(255, 255, 255, 0.65);
  color: $shiny-gray !important;
  font: {
    family : 'Lato' !important;
    weight: 300 !important;
  }
}

.app {
  text-align: center;
  height: 100%;
	display : flex;
	justify-content:center;
	align-items: center;
  z-index: 0;

  .container {
    top : 25vh;
    position: absolute;
  }
}

h1, h2, h3, h4, h5, h6 {
  font : {
    weight : 300 !important;
  }
}

a {
    font-weight: 300 !important;
    text-decoration: none !important;
    color: $primary-color  !important;
    transition: color 0.3s ease;
}
p {
  letter-spacing: 1px;
}

.subtitle {
  color : $tertiary-color;
  margin-bottom: 10px;
  font-weight: 100;
  padding :10px;
  border:  {
    bottom : 2px;
    style : none none dotted;
  }
  // border-bottom : 2px; border-style: none none dotted;
}
