html, body {
  height: 100%;
  width: 100%;
  background-color: $gray;
  font : {
    family : $ubuntu;
    weight : 300;
  }
  color : black;
}

* {
  transition: .7s;
  margin : 0;
  padding : 0;
}

#app {
 // font-family: 'Avenir', Helvetica, Arial, sans-serif;
 // -webkit-font-smoothing: antialiased;
 // -moz-osx-font-smoothing: grayscale;
 text-align: center;
 // color: #2c3e50;
}
