  .nav-header{
    height : 57px;
    line-height : 57px;
    .navbrand {
      float : left;
      margin-top : 8px;
    }
    //background-color : #f8f8f8;
  }

 .navbar-nav {
   float: right;
   display: inline-block;

   .nav-link {
     display: inline-block;
     margin-right: 10px;
   }
 }
