
.skill-page {
  height: 100vh;
  animation : opacity-page 1s linear;
  position: relative;

  .content {
    max-width: 780px;
    margin: 20px auto;
    text-align: justify;
  }
}

.skill-manager {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    h2 span {
      font-weight: 600;
    }

    .skill-list {
      margin: 32px;
      h4{
        text-align: left;

      }
      ul {
        list-style-type: none;
        text-align: left;
        padding-left: 24px;

        li {
          &::before{
            content: ">_";
            margin-right: 15px;
          }
        }
      }
    }
  }
}
