.social-media {
  margin-top: 60px;
  position: relative;
  z-index: 2;
  ul {
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
      margin: 10px 20px;
      a{
        border: 1px solid transparent;
        border-radius: 50%;
        transition: .5s !important;

        &:hover {
          border: 1px solid $primary-color ;
          color : $primary-color ;

          & ~ .info {
            opacity: 1
          }


        }
        i{
          border: 0;
          box-sizing: border-box;
          }
        }

        .info {
          opacity: 0;
          margin-top: 50px;
          width:100px;
        }
      }
    }
  }

  .social-button{
    opacity: 1;
    animation : opacity 1.4s linear;
    position : relative;
    padding : 38px 20px 20px;

    .fa-3x {
      @media screen and ( max-width: $break-six){
        font-size: 2em;
      }
    }

    @media screen and (max-width: $break-six ){
      padding : 30px 20px 20px
    }
  }
