//fonts
$raleway : 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;


//colors

$dirty-white : #f8f8f8;
$gray : #eee;


//responsive

$break-six : 640px;
$break-small : 991px;
